/* Color Definitions */
$blue: #3b6e8f;
$blue-light: #89cbdf;
$blue-extra-light: #d4e9f9;
$blue-bright: #0081ad;
$blue-dark: #0f2c4a;
$blue-facebook-light: #4c69ba;
$blue-facebook-dark: #3b55a0;

$brown: #8a7967;
$brown-dark: #514721;
$brown-light: #ffe49d;
$brown-extra-light: #F5E7BA;

$green: #566423;
$green-light:#aac200;
$green-bright: #4c9905;
$green-dark: #304d0e;

$gray: #9c9977;
$gray-light: #FFFDEF;
$gray-dark: #333;
$gray-medium: #EFEFF4;

$orange: #f68b14;
$orange-dark: #b04600;

$red: #a03306;
$red-light: #EDA8A1;

$yellow-light: #EAE579;
$yellow-dark: #C28A0C;

$purple: #5b5587;
$purple-dark: #4e4b78;
$purple-extra-dark: #383c65;
$purple-light: #8579b8;

/* Elements */
$color-text: #666;
$color-heading: #444;
$border-color: $gray;
$input-background-color: $brown-extra-light;
$menu-background-color: #eae4bf;
